@use 'mixins' as *;

$xxxl: 2560px; // breakpoint large
$xxl: 1600px;
$xl: 1440px; // breakpoint ipad
$lg: 1200px;
$md: 980px; // breakpoint mobile
$sm: 768px;
$xs: 584px;
$xxs: 400px;
$desktop-max-width: 2080px; // = desktop-container-max-width + 2 * (padding-horizontal on desktop)
$desktop-container-max-width: 2000px;

:root {
    --xxxl: #{$xxxl};
    --xxl: #{$xxl};
    --xl: #{$xl};
    --lg: #{$lg};
    --md: #{$md};
    --sm: #{$sm};
    --xs: #{$xs};
    --xxs: #{$xxs};
    --desktop-max-width: #{$desktop-max-width};
    --desktop-container-max-width: #{$desktop-container-max-width};


    /** Fonts **/
    --font: "Arial", sans-serif;

    /** Colors **/
    --background: none;
    --body: black;
    --placeholder: grey;

    --rood: #F05266;
    --petrol: #007E84;
    --lichtblauw: #6ECFF5;
    --wit: #ffffff;
    --zwart: #000000;
    --grijs-licht: #DBDBDB;
    --grijs-donker: #A4A4A4;

    /** Margins & padding **/
    --padding-horizontal: 60px;
    --margin-vertical-small: 20px;
    --margin-vertical-medium: 50px;
    --margin-vertical-large: 80px;

    /** Margins text **/
    --text-margin-vertical-large: 80px;
    --text-margin-vertical-medium: 40px;

    /** Menu **/
    --menu-transition: 0.5s;
    
}

@include responsive($md) {
    :root {
    /** Margins & padding **/
    --padding-horizontal: 32px;
    --margin-vertical-small: 10px;
    --margin-vertical-medium: 30px;
    --margin-vertical-large: 40px;
    /** Margins text **/
    --text-margin-vertical-large: 40px;
    --text-margin-vertical-medium: 20px;
    }
}