$xxxl: 2560px; // breakpoint large
$xxl: 1600px;
$xl: 1440px; // breakpoint ipad
$lg: 1200px;
$md: 835px; // breakpoint mobile
$sm: 768px;
$xs: 584px;
$xxs: 400px;
$desktop-max-width: 2600px; // = desktop-container-max-width + 2 * (padding-horizontal on desktop)
$desktop-container-max-width: 2536px;
