@use 'mixins' as *;
@use 'variables' as *;

@font-face {
    font-family: 'Diatype';
    src: url('../assets/fonts/ABCDiatype-Light.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Diatype Mono';
    src: url('../assets/fonts/ABCDiatypeMono-Light.woff2');
    font-weight: 500;
    font-style: normal;
}


@mixin bigtext() {
  font-family: 'Diatype', sans-serif;
  font-size: clamp(1.125rem, 5vw, 1.875rem);
  font-weight: 900;
  font-style: normal;
  line-height: normal;

  @include responsive($md){
    font-size: 1.125rem;
  }
}



/** headers **/

// h1, .h1 {
//   @include h1();
// }

// h2, .h2 {
//   @include h2();
// }

// h3, .h3 {
//   @include h3();
// }

// h4, .h4, h5, h6 {
//   @include h4();
// }

// /** body fonts **/

// p, .font-body-regular, a {
//   @include fontbodyregular();
// }

// ul, ol {
//   li {
//       @include fontbodyregular();
//   }
// }

// a, a:hover {
//   text-decoration: underline;
// }

// /** menu fonts **/

// .menu {
//   .menu-item {
//     a {
//       @include fontmenu1();
//     }
//   }
// }

// /** quote fonts **/

// blockquote p {
//   @include fontbodyregular();
// }

// /** buttons fonts **/

// .button span {
//   @include h4();
// }

// /** diverse styling **/
// .fw700 {
//   font-weight: 700;
// }