@use 'variables' as *;
@use 'mixins' as *;

.nav {
    text-transform: lowercase;
    position: fixed;
    background-color: var(--c-black);
    color: var(--c-dim);
    width: 100vw;

    @include responsive($md) {
        position: static;
    }

    .nav--inner {
        padding-top: 8px;
        padding-bottom: 6px;
        @include responsive($md) {
        padding-top: 8px;
        padding-bottom: 0px;
        }
    }

    .logo-link {
        transition: all 0.6s ease;
        @include responsiveMin($md){
            &:hover {
                color: var(--c-white);
            }
        }
        @include responsive($md) {
        color: var(--c-white);
        }
    }

    .nav__tagline {
        transition: opacity 0.6s ease;
        &.current {
            opacity: 0;
            display: none;
        }
    }

    .mobile {
        @include responsiveMin($md){
        display: none !important;
        }
    }

    .desktop {
        display: none;
        @include responsiveMin($md){
        display: block;
        }
    }

    .nav__tagline--mob1 {
        padding-top: 3px;
    }


    /* hovers */

    @include responsive($md) {
        .hover-text {
            display: none;
        }
    }

    @include responsiveMin($md) {
        .hover-wrapper:not(.current) {
            overflow: hidden;
            clip-path: inset(1px 1px 1px 1px);
            position: relative;
            display: flex;
            width: 200px;
            
            &:hover {
                .visible-text, .hover-text {
                    transform: translateY(-140%);
                }
            }

            .hover-text {
                position: absolute;
                top: 140%;
                left: 0;
                width: 150px;
            }
    
            .visible-text, .hover-text {
                transition: all 0.3s ease;
            }
    
        }
        .copy-button.hover-wrapper {
            width: 100%;
            cursor: pointer;
            .hover-text {
                display: flex;
            }
        }
    }

    @include responsive(1150px){
        .hover-wrapper:not(.current) {
            &.nav__tagline {
                display: none;
            }
        }
    }

    @include responsiveMin(1150px){
        .hover-wrapper:not(.current) {
            &.nav__tagline {
                width: 350px;
                .visible-text, .hover-text {
                    width: 350px;
                }
            }
        }
    }

    @include responsiveMin(1300px){
        .hover-wrapper:not(.current) {
            &.nav__tagline {
                width: 400px;
                .visible-text, .hover-text {
                    width: 400px;
                }
            }
        }
    }

    @include responsiveMin(1600px){
        .hover-wrapper:not(.current) {
            &.nav__tagline {
                width: 500px;
                .visible-text, .hover-text {
                    width: 500px;
                }
            }
        }
    }

    /* current links */

    .page-link.current {
        color: var(--c-white);
        display: flex;
        gap: 6px;
        .visible-text::after {
            padding-left: 5px;
            content: '↓';
            width: 20px;
            height: 5px;
        }
        .hover-text {
            display: none;
        }
    }

    /* grids */

    .col {
        align-self: center;
    }

    .left {
        grid-column: 1 / 4;
    }

    .right {
        grid-column: 4 / 13;

        @include responsive($md) {
        position: sticky;
        top: 0;
        grid-column: unset;
        }

        .col-2 {
        grid-column: 1 / 6;
        display: flex;
        gap: 25px;
        @include responsive($md) {
            grid-column: 1;
        }
        }
        .col-3 {
        grid-column: 6 / 8;
                @include responsive($md) {
            grid-column: 2;
        }
        }
        .col-4 {
        grid-column: 8 / 10;
                @include responsive($md) {
            grid-column: 3;
        }
        }
    }
}

.current-info {
    // @include responsive(1150px){
    //     .hover-wrapper:not(.current) {
    //         &.nav__tagline {
    //             display: none;
    //         }
    //     }
    // }

    @include responsiveMin(1150px){
        .hover-wrapper:not(.current) {
            &.work-link {
                width: 350px;
                .visible-text, .hover-text {
                    width: 350px;
                }
            }
        }
    }

    @include responsiveMin(1300px){
        .hover-wrapper:not(.current) {
            &.work-link {
                width: 400px;
                .visible-text, .hover-text {
                    width: 400px;
                }
            }
        }
    }

    @include responsiveMin(1600px){
        .hover-wrapper:not(.current) {
            &.work-link {
                width: 500px;
                .visible-text, .hover-text {
                    width: 500px;
                }
            }
        }
    }
}

/* copy feedback animation */

@keyframes dimAnimation {
  0%   { color: var(--c-white); }
  20%  { color: var(--c-dim); }
  80%  { color: var(--c-dim); }
  100% { color: var(--c-white); }
}

.dim-animation {
  animation: dimAnimation 1.5s ease forwards;
}

/* version 1 */

@keyframes confirmAnimation {
  0%   { opacity: 0; }
  30%  { opacity: 1; }
  60%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes confirmTextAnimation {
  0%   { opacity: 0; }
  15%  { opacity: 0; }
  35%  { opacity: 1; }
  65%  { opacity: 1; }
  85%  { opacity: 0; }
  100% { opacity: 0; }
}

.confirm-animation {
  animation: confirmAnimation 2s ease forwards;

  .copy-confirmation-text {
    animation: confirmTextAnimation 2s ease forwards;
  }
}

/* version 2 */

// @keyframes confirmAnimation {
//   0%   { opacity: 1; transform: translateY(-150%); }
//   10%  { opacity: 1; transform: translateY(0); }
//   90%  { opacity: 1; transform: translateY(0); }
//   100% { opacity: 1; transform: translateY(-150%); }
// }

// .confirm-animation {
//   animation: confirmAnimation 2.5s ease forwards;
// }

.col-4 {
    position: relative;
    .copy-confirmation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--c-black);
        z-index: 2;
        opacity: 0;
        /* version 2 */
        // transform: translateY(-100%);
        /* --- */
        pointer-events: none;
        @include responsive($md) {
            top: 2px;
        }
    }
}


/* element only present on mobile */
.nav-new {
    position: sticky;
    top: 0;
    padding: 10px 12px 8px 12px;
    .col {
        align-self: center;
    }
}