---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from 'sanity:client';

const homePage = await sanityClient.fetch(
  `*[_type == "homePage"][0]{
  title, description
  }`
);
const { title, description } = homePage ?? {};

---



<Layout pageTitle={title} pageDescription={description}>

<h1>{title}</h1>



<section>
  <div style="height: 400vh; background: grey;">
    <p>Tekst</p>
  </div>
</section>


</Layout>
