---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from 'sanity:client';

const homePage = await sanityClient.fetch(
  `*[_type == "homePage"][0]{
	  "title": homePage.title,
    "description": homePage.description,
  }`
);
const { title, description } = homePage ?? {};

---



<Layout pageTitle={title}>

<h1>{title}</h1>



<section>
  <div class="container--grid container--margin-normal">
    <div class="big-text">
      <p>
        typ
      </p>
      <p>
        a brand defined by behaviour, built to attract the right minds
      </p>
    </div>
    
    <div class="small-text" style="margin-top: 40px;">
      <p>
        Brand identity, 
      </p>
      <p>
        web design, motion,
      </p>
      <p>
        interaction design
      </p>
    </div>
    
    <div class="small-text lowercase" style="margin-top: 40px;">
      <p>
        Brand identity, 
      </p>
      <p>
        web design, motion,
      </p>
      <p>
        interaction design
      </p>
    </div>
    
    <div class="small-text uppercase" style="margin-top: 40px;">
      <p>
        Brand identity, 
      </p>
      <p>
        web design, motion,
      </p>
      <p>
        interaction design
      </p>
    </div>
  
  </div>

</section>

</Layout>
