---
import Layout from "../layouts/Layout.astro";
import { sanityClient } from 'sanity:client';

const infoPage = await sanityClient.fetch(
  `*[_type == "infoPage"][0]{ title, description
  }`
);
const { title, description } = infoPage ?? {};

---



<Layout pageTitle={title}>




<section>
  <div style="height: 400vh; background: grey; padding-top: 100px;">
    <h1>{title}</h1>
    <p>{description}</p>
  </div>
</section>

</Layout>
