---
import '../styles/main.scss';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import { sanityClient } from 'sanity:client';

interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;


const settings = await sanityClient.fetch(
  `*[_type == "settings"][0]{
	"title": settings.title,
    "description": settings.description,
    "indexing": settings.indexing,
  }`
);
const { title, description, indexing } = settings ?? {};





---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{description && <meta name="description" content={description} />}
		{!indexing && <meta name="robots" content="noindex, nofollow" />}
		<title>{pageTitle} | {title}</title>
	</head>
	<body class="global">
		<Navigation></Navigation>
		<main>
			<slot />
		</main>
		<Footer></Footer>
	</body>
</html>

